* {
    list-style: none;
  }

  .li-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .credit-card-active{
    margin-top: 72px;
    height: 260px;
    border: 0;
    border-radius: 7px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 430px;
    padding: 25px;
    border-radius: 14px;
    color: white;
    background-image: linear-gradient(25deg, #1c2e1d, #42a758);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  
  .active {
    height: 450px;
    order: 1;

  }

  
  .inactive {
    border: none;
    order: 2;
    margin-bottom: -300px;
  }

  .cards--wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

  }

  .card-li{
      position: relative;
      height: 500px;
  }
  .delBtn{
      width: 22%;
      margin-top: -20%;
      margin-left: -120px;
      position: absolute;
      top: 180px;
      margin-bottom: 500px;
      background-color: transparent;
      background-image: linear-gradient(to bottom, #fff, #f8eedb);
      border: 0 solid #e5e7eb;
      border-radius: .5rem;
      box-sizing: border-box;
      color: #482307;
      column-gap: 1rem;
      cursor: pointer;
      font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 80%;
      font-weight: 700;
      line-height: 24px;
      outline: 2px solid transparent;
      text-align: center;
      box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
      
  }

  .delBtn:hover {
    background-image: linear-gradient(to bottom, rgb(158, 152, 152), #cfcecb);
      color: white;
  }
  
  
  h4 {
      margin-bottom: 15px;
  }

  .active--headline {
      margin-top: 70px;
      margin-bottom: -30px;
      font-family: 'Trocchi', serif;
  }
  
  .header--ewallet {
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; 
  }



  